* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, serif;
    background-color: #e2e9ff;
    color: black;
}

.nav {
    background-color: #194569;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.sidebar,
.navbar {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;

}

nav a {
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

nav a:hover {
    background-color: #5f84a2;
}

.left {
    margin-right: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #194569;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}


footer {
    padding: 0.2px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 300px;
    border: 3px solid #194569;
    text-align: center;
    font-size: 20px;
    background-color: #5f84a2;
}